

body
{
    background-image: url("green2.jpg");
    no-repeat: fixed center;
    background-size: cover;
    color: #ffffff;
}


.carlos
{
    color: #ffffff;


}
.carlos2
{
    color: #ffffff;

}
.players{
    width: 30%;
    margin: auto;
}