

body
{
    background-image: url("green2.jpg");
    no-repeat: fixed center;
    background-size: cover;
    color: #ecff00;
}


.carlos
{
    color: #ff000e;




}
.carlos2
{
    color: #3af8ff;



}
.players{
    top: 50%;
    bottom: 50%;
    width: 20%;
    margin-top: 15em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Orbitron', sans-serif;

}

.buttons
{
    width: 15%;
    margin-top: auto;
    margin-left: 40em;
    font-family: 'Orbitron', sans-serif;

}

#notification
{
    font-size: larger;
    color: #ecff00;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Russo One', sans-serif;
}